fastapi==0.119.0
uvicorn==0.38.0
pandas==2.3.3
yfinance==0.2.66
mlflow==3.5.0
pydantic==2.12.2
asyncpg==0.30.0
SQLAlchemy==2.0.44
optuna==4.6.0
asyncio==4.0.0
aiofiles==25.1.0
jinja2==3.1.6
# NOTE: torch is very large; include only if the service needs it